[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.3"
pytz = "==2019.3"
sqlparse = "==0.3.0"
python-decouple = "==3.3"
whitenoise = "==4.1.4"
dj-database-url = "==0.5.0"
gunicorn = "==20.0.4"
certifi = "==2019.11.28"
pipenv = "==2018.11.26"
python-dotenv = "==0.10.3"
virtualenv = "==16.7.8"
virtualenv-clone = "==0.5.3"
Django = "==3.0.12"
Pillow = "*"
postgres = "==3.0.0"
psycopg2-binary = "==2.8.4"
psycopg2-pool = "==1.1"

[requires]
python_version = "3.6"
